.order {
    height: 100vh;
    background-color: #14262E;
}

.main {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.centerMain {
    height: 100%;
}

@media (min-width: 768px) {
    .order {
        padding: 0px;
    }

    .centerMain {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}