.triangleCenter {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.logoImg {
    position: absolute;
    margin-bottom: 30px;
    width: 120px;
    z-index: 1;
    cursor: pointer;
    background-color: red;
}

/* .logoImg:hover ~ .triangle,
.triangle:hover {
    height: 30em;
} */

.triangleBlock {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 210px;
    font-size: 62.5%;
}

/* .triangleInside {
    position: absolute;

    border-left: 90px solid transparent;
    border-right: 90px solid transparent;
    border-bottom: 180px solid red;
} */

.triangle,
.triangle::before,
.triangle::after {
    width: 10.5em;
    height: 1em;
    background-color: red;
    border-radius: 10em;
    box-shadow: 0 0 0 1em red;
    animation: triangleAnimation 2s ease-in-out forwards;
    animation-play-state: paused;
}

.triangleBlock:hover .triangle {
    animation-play-state: running;
}

/* .triangleBlock:hover .triangleInside {
    transform: rotate(180deg);
    transition: transform 1s ease-in-out
} */

/* @keyframes triangleAnimation {
    0% {
        transform: rotate(0deg);
        height: 0;
    }
    50% {
        transform: rotate(180deg);
        height: 0;
    }
    100% {
        transform: rotate(180deg);
        height: 300px;
    }
} */

.triangle {
    position: relative;
    font-size: 2em;
}

.triangle::before,
.triangle::after {
    position: absolute;
    content: "";
    top: -4.2em;
}

.triangle::before {
    left: -2.4em;
    transform: rotate(-60deg);
}

.triangle::after {
    right: -2.4em;
    transform: rotate(60deg);
}

/* .triangle::before {
    transform: rotate(-90deg);
    left: -60px;
} */