.button {
    height: 100%;
    display: none;
    z-index: 1;
}

.ico {
    margin-top: 90px;
    width: 35px;
    color: var(--white);
    transition: all 0.3s;
    cursor: pointer;
}

.ico:hover,
.ico:focus {
    color: var(--accent-color);
}

@media (min-width: 768px) {
    .button {
        display: flex;
    }
}