.works {
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: 'Xolonium-Bold';
}

.works::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(38, 38, 38, 0.25);
    backdrop-filter: blur(17.5px);
}

.video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    object-fit: cover;
}

.main {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.centerMain {
    height: 100%;
}

@media (min-width: 768px) {
    .centerMain {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}