.works {
    height: 100vh;
    background-size: cover;
    background-position: center;
    font-family: 'Xolonium-Bold';
}

.works::after {
    content: "";
    background-image: inherit;
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }