.works {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-image: url('../../pictures/jpg/team.jpg'); */
    background-size: 100%;
    background-position: center;
}