.contacts {
    background-image: url('../../pictures/jpg/aboutbg.jpg');
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.map {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 90px;
}