@font-face {
    font-family: "Xolonium-Bold";
    src: url("../fonts/Xolonium-Bold.ttf");
}

@font-face {
    font-family: "Xolonium";
    src: url("../fonts/Xolonium.ttf");
}

@font-face {
    font-family: "HeadingPro-Bold";
    src: url("../fonts/HeadingPro-Bold.ttf");
}

@font-face {
    font-family: "HeadingPro-Light";
    src: url("../fonts/HeadingPro-Light.ttf");
}