.navigation {
    display: flex;
    justify-content: flex-end;
    margin-top: 100px;
    margin-right: 200px;
}

.navigationList {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navigationEl:not(:last-child) {
    margin-right: 50px;
}