.sliderBlock {
    position: relative;
}

.slider {
    display: flex;
    align-items: center;
    width: 1000px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 200px;
}

.btnArrow {
    position: relative;
    width: 100px;
}

.arrowSlider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    cursor: pointer;
    transition: width 0.3s ease;
    color: var(--accent-color);
}

.arrowSlider:hover,
.arrowSlider:focus {
    width: 130px;
}

.rotated {
    transform: translate(-50%, -50%) rotate(180deg);
}

.slideImg {
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    max-height: 100%;
}

.customDots {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    height: 50px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.customDots li {
    height: 40px;
    width: 10px;
    background-color: var(--text-color-white);
    cursor: pointer;
    border-radius: 20px;
    transition: all 0.3s ease;
    opacity: 0.3;
}

.customDots li:hover,
.customDots li:focus {
    height: 50px;
    opacity: 1;
}

.customDots li:not(:last-child) {
    margin-right: 15px;
}

.customDot {
    position: relative;
    height: 100%;
    width: 100%;
}

.dotBtn {
    position: absolute;
    bottom: -150%;
    left: 0%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    cursor: pointer;
    color: var(--text-color-white);
}

.playSlider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 100px;
    width: 300px;
    color: var(--accent-color);
    transition: all 0.3s ease;
    cursor: pointer;
}

.playSlider:hover,
.playSlider:focus {
    width: 350px;
}