.equalizerBlock {
    position: absolute;
    bottom: 10vh;
    left: 40vh;
    font-family: 'Xolonium';
    color: var(--white);
    font-size: 15px;
}

.equalizerHeader {
    display: flex;
    align-items: flex-end;
    margin-bottom: 25px;
}

.equalizerName {
    font-size: 22px;
    margin-right: 25px;
}

.equalizer {
    display: flex;
    /* justify-content: space-around; */
    align-items: flex-end;
    height: 50px;
    margin-right: 25px;
    padding-bottom: 5px;
}
  
.bar {
    width: 5px; /* Ширина столбиков */
    background-color: var(--text-color-white);
    transition: height 0.3s;
}

.bar:not(:last-child) {
    margin-right: 5px;
}

.production {
    margin-bottom: 10px;
}