.socials {
    position: fixed;
    right: -20px;
    bottom: 200px;
}

.list {
    display: flex;
    color: var(--text-color-white);
    transform: rotate(90deg);
}

.listEl {
    letter-spacing: -1px;
    font-size: small;
}

.listEl:not(:last-child) {
    margin-right: 20px;
}

.socialLink {
    cursor: pointer;
}