.socials {
    font-family: 'HeadingPro-Bold';
    position: fixed;
    left: 0;
    top: 50%;
    bottom: 50%;
    z-index: 1;
}

.list {
    display: flex;
    transform: rotate(270deg);
}

.listEl {
    letter-spacing: -1px;
    font-size: small;
}

.listEl:not(:last-child) {
    margin-right: 20px;
}

.socialLink {
    cursor: pointer;
}

.socialLink:hover,
.socialLink:focus {
    color: var(--accent-color);
}