.team {
    background-image: url('../../pictures/jpg/bg-for-team.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.team::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(14, 37, 48, 0.80);
}

.main {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.centerMain {
    height: 100%;
}

@media (min-width: 768px) {
    .centerMain {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}