.playerWrapper {
    /* position: relative; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* width: 100%; */
    /* height: 100%; */
    overflow: hidden;
    /* overflow-x: hidden; */
}

.controlsWrapper {
    position: absolute;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: ; */
    width: 100%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
    color: var(--white);

    opacity: 0;
    transition: opacity 0.3s;
}

.mouseActive {
    opacity: 1
}

.topControls {
    display: flex;
    align-items: center;
}

.btnBackPlayer {
    position: relative;
    margin-right: 30px;
}

.playerTitle {
    font-size: 40px;
}

.middleControls {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.btnMore {
    position: relative;
    font-family: 'FuturaPT-Light';
    font-size: 35px;
    color: var(--white);
    cursor: pointer;
    margin-right: 30px;
    transition: color 0.3s;
}

.btnMore:hover,
.btnMore:focus {
    color: var(--accent-color);
}

.btnMore:hover::after,
.btnMore:focus::after {
    background-color: var(--accent-color);
}

.btnMore::after {
    position: absolute;
    right: -30px;
    top: 50%;
    transform: translateY(-20%);
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--white);
    transition: background-color 0.3s;
}

.bottomControls {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    width: 850px;
    height: 40px;
    background-color: rgba(70, 70, 70, 0.25);
    border-radius: 50px;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}

.time {
    width: 70px;
    margin-right: 30px;
}

.sliderContainer {
    width: 590px;
    height: 3px;
    background-color: rgba(217, 217, 217, 1);
    position: relative;
    margin-right: 30px;
    cursor: pointer;
}
  
.slider {
    width: 0;
    height: 100%;
    background-color: var(--accent-color);
}
  
.sliderHandle {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.play {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    margin-right: 30px;
}

.iconPlay {
    width: 20px;
    height: 30px;
}

.iconPause,
.iconPlay,
.iconVolume,
.iconMute {
    transform: scale(0.9);
    transform-origin: center;
    transition: transform 0.5s;
    cursor: pointer;
}

.volumeWrapper {
    display: flex;
    align-items: center;
    width: 30px;
}
.iconMute {
    width: 20px;
    height: 30px;
}

.iconVolume {
    width: 10px;
    height: 30px;
}

.iconHover:hover .iconMute,
.iconHover:hover .iconVolume,
.iconHover:hover .iconPlay,
.iconHover:hover .iconPause {
    transform: scale(1);
}