body {
  margin: 0;
  font-family: 'Gotham Pro Light', 'Gotham Pro Black';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url('../src/pictures/background-img/space.jpg');
  background-size: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: inherit;
  color: inherit;
  padding: 0;
}

.link {
  color: #ececec;
  cursor: pointer;
}

.link:hover,
.link:focus {
  color: greenyellow;
}

.link-active {
  color: greenyellow;
  font-family: 'Gotham Pro Black';
  font-weight: 800;
}
