body {
  margin: 0;
  font-family: 'FuturaPT-Light', 'FuturaPT-Medium', 'FuturaPT-Bold', 'Xolonium-Bold', 'Xolonium', 'HeadingPro-Bold', 'HeadingPro-Light';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --text-color-white: #ececec;
  --text-color-grey: rgb(104, 104, 104);
  --accent-color: rgba(255, 214, 0, 1);
  --green: #90ff00;
  --white: #ffffff;
  --black: #000000;
  --header-bg: rgba(70, 70, 70, 0.25);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1, h2, h3, h4, h5, li, ul, p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul, li {
  list-style: none;
}

button {
  border: none;
  background-color: inherit;
  color: inherit;
  padding: 0;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100vh;
}

.logo {
  width: 30vh;
}

.link {
  font-family: 'FuturaPT-Medium';
  font-size: 20px;
  color: var(--text-color-white);
  cursor: pointer;
  transition: color 0.3s ease;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.link-active {
  font-family: 'FuturaPT-Bold';
  color: var(--accent-color);
  font-size: 20px;
}

@media (min-width: 768px) {
  .link {
    font-size: 12px;
  }

  .link-active {
    font-size: 12px;
  }
}