body {
  margin: 0;
  font-family: 'Gothic Pro Black', 'Gothic Pro Light';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

button {
  border: none;
  background-color: inherit;
  color: inherit;
  padding: 0;
}

.link {
  color: black;
  cursor: pointer;
}

.link:hover,
.link:focus {
  color: greenyellow;
}

.link-active {
  color: greenyellow;
  font-weight: 800;
}
