.home {
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.home::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(38, 38, 38, 0.25);
}

.videoHome {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    object-fit: cover;
}

.main {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.centerMain {
    height: 100%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottomMain {
    display: flex;
    justify-content: space-between;
    align-items: center;
}