.contactsList {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contactsEl:not(:last-child) {
    margin-right: 100px;
}

.contactBtn {
    font-family: 'FuturaPT-Medium';
    width: 200px;
    height: 40px;
    border-radius: 50px;
    background-color: black;
    color: var(--text-color-white);
    cursor: pointer;
}

.icoTel {
    color: var(--text-color-white);
}

.contactsEl:hover .contactBtn {
    color: var(--accent-color);
}

.contactsEl:hover .icoTel,
.contactsEl:focus .icoTel {
    color: var(--accent-color);
}