.team {
    display: flex;
    align-items: center;
    justify-content: center;
}

.teamList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teamEl:not(:last-child) {
    margin-bottom: 20px;
}

/* .aboutEl {
    position: relative;
    font-family: 'FuturaPT-Light';
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);

    background-color: var(--header-bg);
    border-radius: 30px;
    height: 80px;
    width: 240px;
    overflow: hidden;

    cursor: pointer
} */

/* .teamList {
    height: 605px;
    width: 400px;
    display: flex;
    flex-wrap: wrap;
} */

.teamEl {
    /* background-image: url('../../pictures/png/logo.png'); */
    background-size: 30%;
    background-position: center;
    background-repeat: no-repeat;

    background-color: var(--header-bg);
    border-radius: 30px;
    height: 80px;
    width: 240px;
    overflow: hidden;
}

@media (min-width: 768px) {
    .team {
        width: 380px;
    }

    .teamList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .teamEl::before {
        display: flex;

    }

    .teamEl {
        height: 200px;
        width: 160px;
    }

    .teamEl:not(:last-child) {
        margin-bottom: 0px;
    }

    .teamEl:nth-child(odd) {
        margin-right: 40px;
    }

    .teamEl:nth-child(-n+2) {
        margin-bottom: 50px;
    }
}

@media (min-width: 1440px) {
    .team {
        width: 850px;
    }

    .teamList {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .teamEl {
        height: 450px;
        width: 180px;
    }

    .teamEl:not(:last-child) {
        margin-right: 40px;
    }

    .teamEl:nth-child(-n+2) {
        margin-bottom: 0px;
    }
}