.team {
    display: flex;
    align-items: center;
    justify-content: center;
}

.teamList {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.teamEl:not(:last-child) {
    margin-bottom: 20px;
}

.teamEl {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    border-radius: 30px;
    border: 1px solid rgba(70, 70, 70, 0.25);
    background-color: rgba(70, 70, 70, 0.25);
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25), -4px -4px 10px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12.5px);
    
    height: 80px;
    width: 240px;
    overflow: hidden;

    cursor: pointer;
}

.teamEl:hover .elDescription,
.teamEl:focus .elDescription {
    transform: translateY(0%);
}

.elDescription {
    display: none;
    text-align: center;
    padding: 10px 0px 10px 0px;

    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    border-radius: 0px 0px 30px 30px;
    background-color: rgba(70, 70, 70, 0.25);
    color: var(--white);

    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.name,
.position {
    margin-bottom: 10px;
}

.position {
    color: var(--accent-color);
}

.ownerImg {
    height: 160%;
}

@media (min-width: 768px) {
    .team {
        width: 380px;
    }

    .teamList {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .teamEl::before {
        display: flex;

    }

    .teamEl {
        height: 200px;
        width: 160px;
        justify-content: center;
    }

    .teamEl:not(:last-child) {
        margin-bottom: 0px;
    }

    .teamEl:nth-child(odd) {
        margin-right: 40px;
    }

    .teamEl:nth-child(-n+2) {
        margin-bottom: 50px;
    }

    .elDescription {
        display: block;
    }

    .ownerImg {
        height: 100%;
    }
}

@media (min-width: 1440px) {
    .team {
        width: 850px;
    }

    .teamList {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .teamEl {
        height: 450px;
        width: 180px;
    }

    .teamEl:not(:last-child) {
        margin-right: 40px;
    }

    .teamEl:nth-child(-n+2) {
        margin-bottom: 0px;
    }

    .elDescription {
        padding: 45px 0px 45px 0px;
    }
}