.swiper {
    height: 100vh;
    margin-left: 25vh;
    margin-right: 45vh;
}

.swiper-wrapper {
    display: flex;
    align-items: center;
    width: 140vh;
    /* padding-left: 50px; */
    padding-right: 50px;
    padding-top: 25vh;
    padding-bottom: 20vh;
}

.picture {
    position: relative;
    height: 45vh;
    transition: all 0.3s;
    transform: scale(1);
}

.swiper-slide-active .picture {
    transform: scale(1.2);
}

.number {
    position: absolute;
    top: 15px;
    left: 15px;
    color: var(--white);
}

.image {
    object-fit: cover;
    width: inherit;
    height: 100%;
    border-radius: 20px;
    cursor: pointer;
}

.icoPlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 70px;
    height: 70px;
    color: var(--accent-color);
    cursor: pointer;

    opacity: 0;
    transition: opacity 0.3s ease;
}

.description {
    margin-top: 5vh;
    width: 110%;
    opacity: 0;
    transition: opacity 0.3s ease;
    color: var(--white);
    cursor: default;
}

.swiper-slide {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.swiper-slide-active {
    opacity: 1;
    transform: translateX(0);
    z-index: 2;
}

.swiper-scrollbar {
    display: none;
}

.swiper-button-prev {
    left: 0px;
}

.swiper-button-prev::after {
    color: var(--accent-color);
}

.swiper-button-next {
    right: 0px;
}

.swiper-button-next::after {
    color: var(--accent-color);
}

.swiper-slide-prev {
    opacity: 0.3;
    transform: translateX(0);
}

.swiper-slide-next {
    opacity: 0.3;
    transform: translateX(0);
}

.from {
    margin-bottom: 10px;
    font-size: small;
}

.text {
    margin-bottom: 10px;
    font-size: small;
}

.director {
    margin-bottom: 10px;
    font-style: italic;
    font-size: small;
}

.btnOrder {
    cursor: pointer;
}

.btnOrder:hover,
.btnOrder:focus {
    color: var(--accent-color);
}

.swiper-pagination {
    font-size: x-small;
    position: absolute;
    top: 5vh;
    width: 100%;

    padding-left: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.slider-controler {
    display: flex;
    justify-content: space-between;
}

.swiper-button-prev {
    width: 100px;
    height: 100px;
}

.swiper-button-next {
    width: 100px;
    height: 100px;
}

.button-prev-slide {
    width: inherit;
    height: inherit;
    color: var(--accent-color);
}

.button-next-slide {
    rotate: 180deg;
    width: inherit;
    height: inherit;
    color: var(--accent-color);
}
