.principlesBlock {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.principles {
    width: 800px;
    height: 605px;
    color: var(--white);
    background-color: var(--header-bg);
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 50px;
}

.titles {
    text-align: center;
}

.firstTitle {
    font-family: 'IntegralCF-Bold';
    font-size: 135px;
}

.secondTitle {
    font-family: 'FuturaPT-Light';
    font-size: 19px;
    margin-bottom: 30px;
}

.listEl {
    position: relative;
    margin-left: 35px;
}

.listEl::before {
    position: absolute;
    left: -30px;
    top: 8px;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--white);
}

.listEl:not(:last-child) {
    margin-bottom: 15px;
}

.elTitle {
    font-family: 'FuturaPT-Medium';
    font-size: 15px;
    margin-bottom: 5px;
}

.elText {
    font-family: 'FuturaPT-Light';
    font-size: 15px;
}