.principlesBlock {
    display: flex;
    align-items: center;
    justify-content: center;
}

.principles {
    width: 240px;
    color: var(--white);
    box-sizing: border-box;
    padding: 30px;

    border-radius: 30px;
    border: 1px solid rgba(70, 70, 70, 0.25);
    background-color: rgba(70, 70, 70, 0.25);
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.25), -4px -4px 10px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(12.5px);
}

.title {
    font-size: 35px;
    font-family: 'FuturaPT-Bold';
    text-align: center;
    margin-bottom: 25px;
}

.listEl {
    position: relative;
}

.listEl::before {
    position: absolute;
    left: -30px;
    top: 8px;
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--white);

    margin-right: 35px;

    display: none;
}

.listEl:not(:last-child) {
    margin-bottom: 25px;
}

.elTitle {
    font-family: 'FuturaPT-Bold';
    font-size: 15px;
    margin-bottom: 5px;
}

.elText {
    font-family: 'FuturaPT-Light';
    font-size: 15px;
}

@media (min-width: 768px) {
    .principles {
        width: 360px;
        height: 450px;
    }
}

@media (min-width: 1440px) {
    .principles {
        width: 840px;
        height: 450px;
    }

}